<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section id="makeDomo">
    <form id="domoForm" name="domoForm" action="/maker" method="POST" class="domoForm">
      <label for="name">Name: </label>
      <input id="domoName" type="text" name="name" placeholder="Domo Name"/>
      <label for="age">Age: </label>
      <input id="domoAge" type="text" name="age" placeholder="Domo Age"/>
      <input class="makeDomoSubmit" type="submit" value="Make Domo" />
    </form>
  </section>

  <section id="chooseTable">
    <form id="tableForm" name="tableForm" action="/table" method="POST" class="tableForm">
    <select name="table" id="tableSelect">
      <option value="table1">Table 1</option>
      <option value="table2">Table 2</option>
    </select>
    <input type="submit" value="Choose Table">
    </form>

  </section>


  <section id="plyer">
    <form id="playerForm" name="playerForm" action="/test" method="POST" class="playerForm">
    <!--  How to get player max when loading the page (equal to player chips) -->
    <input type="range" value="1" min="1" max="${user.chips}" oninput="this.nextElementSibling.value = this.value">
                <output id="bet">24</output>
    <!--  Only show bet numbers when raising, calls will automatically snap to the table bet -->
    <!--  Every change should emit out of the socket and tell other players to update -->
    <input id="submitBtn" type="submit" value="Bet" onclick="sendDecision()" />

    </form>

  </section>

  <div id="secretUser" > 
    
  </div>
  
  <section id="domos">
    {{#if domos}}
    {{#each domos}}
    <div class="domo">
      <img src ="/assets/img/domoface.jpeg" alt="domo face" class="domoFace">
      <h3 class="domoName">Name: {{this.name}}</h3>
      <h3 class="domoAge">Age:{{this.age}}</h3>
    </div>
    {{/each}}
    {{else}}
<h3 class ="emptyDomo">No Domos Yet!</h3>
{{/if}}
  </section>
  
  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client/client.js"></script>
  <script src="/assets/bundle.js"></script>
</body>
</html>
